.save_btn {
    height: 75px;
    width: 40px;
    background-color:	white;
    opacity: .7;
    border: none;
    border-bottom-right-radius: 12px ;
    border-top-right-radius: 12px ;
    outline: none;
    text-align: center;
  }