body {
  background-color: transparent;
  background-attachment: fixed;
  opacity: .9;
  z-index: -2;
  font-family: 'Kaushan Script', cursive;
}


.container {
  
  padding-top: 28vw ;
  z-index: -1;
  width: 100%;
  margin: auto;


}

.fade {
  height: 25vw;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: black;
  opacity: .5;
  filter: blur(5px);
  z-index: -1;
}

header {
  text-align: center;

  background-color: black;
  text-shadow: black 5px 5px 5px;
  color: white;
  height: 25vw;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.title {
  font-size: 10vw;
  margin-top: 5px;
  margin-bottom: 0px;
}



#currentDay {
  font-size: 5vw;
  margin-top: 0px;
}



.time_block{
  text-align: center;
  border-bottom-right-radius: 15px ;
  border-top-right-radius: 15px ;
  border: white solid 2px;
  border-left: none;
  background-color: #817c86;
  height: 75px;
  width: 97%;
  z-index: -1;
  opacity: .9;
  margin: auto;
  margin-bottom: 5px;
}


.time_block:hover {
  transition: all ease-in .2s;
  transform: scale(1.02);
  border: black solid 4px;
}


.save_btn {
  height: 75px;
  width: 40px;
  background-color:	white;
  opacity: .7;
  border: none;
  border-bottom-right-radius: 12px ;
  border-top-right-radius: 12px ;
  float: right;
  outline: none;
  text-align: center;
}

.save_btn:hover {
  cursor: pointer;
}


img {
  height: 20px;
  
 
}
img:active {
  transform: scale(.9);
}

.hour_block {
  width: 50px;
  height: 45px;
  background-color: white;
  opacity: .7;
  float: left;
  font-size: 18px;
  padding-top: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}

.text_input {
  height: 65px;
  width: 30vw;
  background-color: whitesmoke;
  border: none;
  margin: none;
  float: left;
  outline: none;
  background: transparent;
  border: none;
  resize: none;
  font-size: 24px;
  cursor: context-menu;
  

  
}

.text_input::-webkit-scrollbar {
  width: 0px;
}




.container::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5%;
}

.container::-webkit-scrollbar {
  width: 5px;
}



@media (max-width: 655px) {
  .text_input {
    width: 60vw;
  }
  
}


@media (min-width: 900px) {
 
  header {
    height: 220px;
  }

  .container {
    padding-top: 240px;
    width: 50%;
    min-width: 800px;
  }


  .fade {
    height: 220px;
  }
  
  .title {
    font-size: 100px;
  
  }
  
  #currentDay {
    font-size: 40px;
   
  }
}